script(type="text/javascript" src="/js/jquery-1.10.2.min.js")
script(type="text/javascript" src="/js/bootstrap.min.js")
script(type="text/javascript" src="/js/contentflow.js")
script(type="text/javascript" src="/js/style.js")
script(type="text/javascript" src="/js/leap-0.4.1.js")
script(type="text/javascript" src="/js/gestureController.js")

script(type='text/javascript').
	if(window.location.pathname != '/') {
		var id = window.location.pathname.replace('/','')
		id = id-1
		init(id)
	}
	else
		init(0)