head
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	link(type="text/css" rel="stylesheet" href="/css/bootstrap.min.css")
	link(type="text/css" rel="stylesheet" href="/css/bootstrap-responsive.min.css")
	link(type="text/css" rel="stylesheet" href="/css/styles.css")
	link(type="text/css" rel="stylesheet" href="/css/layout.css")
	link(type="text/css" rel="stylesheet" href="/css/contentflow.css")
	//link(type="text/css" rel="stylesheet" href="/css/mycontentflow.css")

body