body{
	position: relative;
	width: 100%;
	height: 916px;
	padding: 0;
	margin: 0;
	background-image: url('../img/fond.jpg');
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
}

.coverflow{
	height: 100%;
	width: 100%;
	padding-top: 10%;
}

.container {
	position: relative;
}

video {
	position: absolute;
	left: 0;
	width: 100%;
}