doctype html
html(lang="en")
	include common/header
		div(class="coverflow")
			div(id="contentFlow" class="ContentFlow")
				div(class="loadIndicator")
					div(class="indicator")
				div(class="flow")
					div(class="item")
						img(class="content" src="/img/vignettes/01.jpg" id="1")
						div(class="caption") What is Motion Design ? 01
					div(class="item")
						img(class="content" src="/img/vignettes/02.jpg" id="2")
						div(class="caption") What is Motion Design ? 02
					div(class="item")
						img(class="content" src="/img/vignettes/03.jpg" id="3")
						div(class="caption") What is Motion Design ? 03
					div(class="item")
						img(class="content" src="/img/vignettes/04.jpg" id="4")
						div(class="caption") What is Motion Design ? 04
					div(class="item")
						img(class="content" src="/img/vignettes/05.jpg" id="5")
						div(class="caption") What is Motion Design ? 05
				div(class="globalCaption")
	include common/footer