doctype html
html(lang="en")
	include common/header
		div(class="container")
			h1 video #{id}
			video(width="900" height="800" autoplay onended="endVideo(#{id})")
				source(src="http://www.w3schools.com/html/mov_bbb.mp4" type="video/mp4")
	include common/footer